### Locale and keyboard settings
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network Configuration - Static IP (DHCP devre dışı)
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/disable_dhcp boolean true



### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### User and password settings
d-i passwd/root-password password rootpass
d-i passwd/root-password-again password rootpass
d-i passwd/user-fullname string User
d-i passwd/username string user
d-i passwd/user-password password userpass
d-i passwd/user-password-again password userpass
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i passwd/user-default-groups string audio cdrom video sudo


### Time and timezone
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Istanbul

### Only /dev/vda disk will be used
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic

###  Optimized layout for swap + root (for 25 GB)
d-i partman-auto/expert_recipe string                      \
    vda-swap-root ::                                       \
        512 512 1024 linux-swap                            \
            method{ swap } format{ }                       \
        .                                                  \
        10000 10000 25000 ext4                             \
            $primary{ } $bootable{ }                       \
            method{ format } format{ }                     \
            use_filesystem{ } filesystem{ ext4 }           \
            mountpoint{ / }                                \
        .

d-i partman-auto/choose_recipe select vda-swap-root
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm boolean true

### Install KDE PLASMA desktop
tasksel tasksel/first multiselect standard, kde-desktop
d-i pkgsel/include string openssh-server sudo curl wget net-tools
d-i pkgsel/upgrade select none

### GRUB Installer – Dual Boot Support
d-i grub-installer/only_debian boolean false
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/vda


### Automatically reboot after installation
d-i finish-install/reboot_in_progress note
